{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
  <h2 data-aos="fade-up" data-aos-delay="400"><span style="color: black; font-size: 44px;">| </span>A5 & Co</h2>
</div>
<div class="row">
  <div class="col-lg-4 d-flex flex-column justify-content-center">
    <h1 data-aos="fade-up">Generate <br>RSA Ads in <br>Mins</h1>
    <h2 data-aos="fade-up" data-aos-delay="400">AdMagicGPT</h2>
    <div data-aos="fade-up" data-aos-delay="600">
      <div class="text-center text-lg-start">
        <a href="#about"
          class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
          <span>TRY IT NOW</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-8 hero-img" data-aos="zoom-out" data-aos-delay="200">
    <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="" style="width: 900px;">
  </div>
</div>
{% endblock%}