{% extends 'base.html' %}

{% block title %}
  Price
{% endblock %}

{% block content %}
<h1>Price of BTC</h1>
<table id="myTable" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Time</th>
      <th scope="col">Base</th>
      <th scope="col">Quote</th>
      <th scope="col">Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
          <th scope="row">
            {{forloop.counter}}
          </th>
          <td>
            {{response.time}}
          </td>
          <td>
            {{response.asset_id_base}}
          </td>
          <td>
            {{response.asset_id_quote}}
          </td>
          <td>
            {{response.rate}}
          </td>
      </tr>
    </tbody>
  </table>   
  <a href="/database" class="btn btn-primary">Back</a>
{% endblock %} 
